.button {
  width: 100%;
  padding: 16px;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #40bca3;
  color: #fff;
}

.button:disabled {
  background-color: #83beb3;
}
