.bgImage {
  background-image: url('/images/header-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.componentsWrapper {
  width: 327px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
  height: var(--header-height);
  margin: 0 auto;
  padding: 16px 0 24px;
}

.headerButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backButton {
  composes: headerButton;
  margin-right: auto;
}

.menuButton {
  composes: headerButton;
}

.progressBg {
  width: 100%;
  height: 4px;
  overflow: hidden;
  border-radius: 2px;
  background-color: #fff;
}

.progress {
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(
    69deg,
    rgba(124, 219, 150, 1) 0%,
    rgba(56, 165, 143, 1) 100%
  );
}

@media screen and (min-width: 430px) {
  .componentsWrapper {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .bgImage {
    background-size: auto;
  }

  .componentsWrapper {
    width: 528px;
  }
}

@media screen and (min-width: 1024px) {
  .bgImage {
    background-size: 100%;
    background-position: top -10% center;
  }

  .componentsWrapper {
    width: 768px;
  }
}
